.container{
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}
.sign-in{
  flex: 1;
  padding: 21.5rem 15rem 2rem 20rem;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-heading div{
  display: flex;
  width: 100%;
  justify-content: center;
}
.signIn-form{
  width: 100%;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}
.signIn-form div:nth-child(1){
  margin-bottom: 1.4rem;
}
.signIn-form div:nth-child(2){
  margin-top: 1.4rem;
}
.forgot-password{
  margin-top: -1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.5s;
}
.forgot-password:hover{
  cursor: pointer;
  color: var(--color-error);
}
.errorMsg{
  margin-top: 6.4rem;
  color: var(--color-error);
  font-size: 1.4rem;
  font-weight: 500;
}
.signIn-actions{
  margin-top: 2.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-up{
  flex: 1;
  padding: 21.5rem 20rem 2rem 15rem;
}
.section-heading{
  font-size: 2.2rem;
  letter-spacing: -1px;
  font-weight: 500;
  width: 100%;
}
.button{
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  background-color: var(--color-black);
  color: var(--color-white);
}
.invalid{
  opacity: 0.5;
}
.submit.active:hover{
  cursor: pointer;
  background-color: rgb(65, 65, 65);
}
.form{
  
}