.checkbox-container{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 1rem;
}
.checkbox{
  min-height: 20px;
  min-width: 20px;
  border: 1px solid black;
  position: relative;
}
.checkbox.bigger{
  height: 25px;
  width: 25px;
  border-width: 2px;
}
.checkbox.unchecked::after{
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  content: "";
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkbox-container:hover{
  cursor: pointer;
}
.checkbox-label{
  font-weight: 500;
  text-wrap: wrap;
  font-size: 1.2rem;
}
.checkbox-label.fontBig{
  font-size: 1.5rem;
}

@media (max-width: 84em){
  .checkbox.bigger{
    height: 22px;
    width: 22px;
  }
  .checkbox-label.fontBig{
    font-size: 1.3rem;
  }
}
@media (max-width: 64em){
  .checkbox-label{
    font-size: 1.6rem;
    margin-left: 2.4rem;
  }
  .checkbox.bigger{
    height: 25px;
    width: 25px;
  }
  .checkbox-label.fontBig{
    margin-left: 0;
    font-size: 1.5rem;
  }
}
@media(max-width: 59em){
  .checkbox-label.fontBig{
    font-size: 1.8rem;
  }
}
@media (max-width: 48em){
  .checkbox.bigger{
    height: 22px;
    width: 22px;
  }
  .checkbox-label.fontBig{
    font-size: 1.5rem;
  }
}
@media(max-width: 30em){
  .checkbox.bigger{
    height: 18px;
    width: 18px;
  }
  .checkbox-label.fontBig{
    font-size: 1.3rem;
  }
}
@media(max-width: 24em){
  .checkbox-label.fontBig{
    font-size: 1.5rem;
  }
}
@media(max-width: 24em){
  .checkbox.bigger{
    height: 15px;
    width: 15px;
  }
  .checkbox-label.fontBig{
    font-size: 1.3rem;
  }
}

