.checkbox-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.checkbox{
  min-height: 20px;
  min-width: 20px;
  border: 1px solid black;
  position: relative;
}
.checkbox.unchecked::after{
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  content: "";
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.checkbox-container:hover{
  cursor: pointer;
}
.checkbox-label{
  font-weight: 500;
  text-wrap: wrap;

}

@media (max-width: 64em){
  .checkbox-label{
    font-size: 1.6rem;
    margin-left: 2.4rem;
  }
}