.mainContainer{
  padding-top: 13.5rem;
}
.section{
  padding: 6.4rem;
  display: flex;
}
.navMenu{
  flex: 0.8;
}
.content{
  flex: 2.5;
}

@media (max-width: 64em){
  .section{
    display: block;
    padding: 1rem 3.2rem;
  }
  .navMenu{
    padding: 0 3.2rem;
  }
}
@media (max-width: 48em){
  .section{
    padding: 1rem 4rem;
  }
  .navMenu{
    padding: 0rem;
  }
}
@media (max-width: 36em){
  .section{
    padding: 1rem 2.4rem;
  }
  .navMenu{
    padding: 0rem 2.4rem;
  }
}
@media (max-width: 30em){
  .section{
    padding: 1rem 2rem;
  }
  .navMenu{
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}
