.mainContainer{
  padding-top: 13.5rem;
}
.section{
  padding: 6.4rem;
  display: flex;
}
.navMenu{
  flex: 1;
}
.content{
  flex: 2.5;
}

@media (max-width: 64em){
  .section{
    display: block;
    padding: 1rem 6.4rem;
  }
  .navMenu{
    padding: 0 4.8rem;
  }
}