.outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.layer{
  overflow: hidden;
}
.content{
  display: block;
  text-align: center;
}
.text{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}
@media(max-width:30em){
  .text{
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}