.container{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  transition: background-color 0.5s;
}
.active{
  background-color: var(--color-theme);
  /* background-color: red; */
}