.container{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.5s;
  z-index: 11;
}
.active{
  background-color: var(--color-theme);
  transform: translateY(-20%);
}