.signUpContainer{
  padding: 21.5rem 10rem 2rem;
  width: 100%;
}
.signUp-form{
  width: 100%;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.accountType{
  display: flex;
  gap: 2.4rem;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 4.8rem;
}
.companyInputs{
  display: flex;
  gap: 1.2rem;
}
.nameInputs{
  display: flex;
  width: 100%;
  gap: 1.2rem;
  /* margin-top: 4.8rem; */
}
.addressInput{
  width: 100%;
}
.locationInput{
  display: flex;
  gap: 1.2rem;
}
.countryInput{
  display: flex;
  gap: 1.2rem;
}
.emailInputs{
  width: 100%;
}
.passwordInputs{
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.passwordActions{
  margin-top: -2rem;
  display: flex;
  justify-content: flex-end;
}
.passwordErrors{
  font-size: 1.4rem;
  text-wrap: wrap;
  font-weight: 500;
  color: var(--color-error);
}
.showPassword{
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.5;
  transition: all 0.5s;
}
.showPassword:hover{
  cursor: pointer;
  opacity: 1;
}
.passActive{
  opacity: 1;
}
.userAgreements{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.links{
  text-decoration: underline;
}
.links:hover{
  cursor: pointer;
}
.button{
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.button button{
  margin-top: 3.2rem;
}

@media (max-width: 64em){
  .signUpContainer{
    padding: 10rem 10rem 5rem;
  }
}
@media (max-width: 36em) {
  .signUpContainer{
    padding: 10rem 5rem 5rem;
  }
}
@media (max-width: 24em){
  .passwordInputs{
    gap: 3.8rem;
  }
}