.main-container{
  position: relative;
  width: 100%;
}
.input{
  width: 100%;
  height: 3.2rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  margin-bottom: 1.6rem;
  transition: all 0.2s;
  font-weight: 600;
}
.placeholder{
  position: absolute;
  left: 0;
  margin-top: -2px;
  font-size: 2.2rem;
  font-weight: 500;
  transition: all 0.2s;
  pointer-events: none;
}
.main-container .input:not(:placeholder-shown) ~ .placeholder,
.main-container .input:focus ~ .placeholder{
  transform: translateY(-10px);
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.notSubscribe{
  color: var(--color-black) !important;
  border-color: var(--color-black) !important;
  font-weight: 400 !important;
}
.invalid{
  color: var(--color-error) !important;
  border-color: var(--color-error) !important;
}
.errorMsg{
  color: var(--color-error);
  font-size: 1.2rem;
}
.actions{
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: -0.5rem;
  font-weight: bold;
  width: 100%;
}
.show{
  font-size: 1.4rem;
  opacity: 0.5;
  transition: all 0.5s;
}
.show:hover{
  cursor: pointer;
  opacity: 1;
}
.active{
  opacity: 1;
}
.forgot{
  font-size: 1.4rem;
  color: var(--color-black);
  transition: all 0.5s;
}
.forgot:hover{
  cursor: pointer;
  color: var(--color-error);
}
