.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding-left: 15rem;
  gap: 1.6rem;
  position: relative;
}
.italia{
  padding-top: 17rem;
}
.editions{
  padding-top: 20rem;
}
.subLinks{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subLink{
  font-size: 2.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.subLink:hover{
  color: var(--color-black);
}
.goBack{
  position: absolute;
  right: 10%;
  transform: rotateZ(-90deg);
  top: 40%;
  display: none;
}
@media (max-width: 75em){
  .italia{
    padding-top: 20rem;
  }
}
@media (max-width: 64em) {
  .mainContainer{
    padding-left: 18rem;
    z-index: 18;
    flex-wrap: wrap;
  }
  .italia{
    padding-top: 25rem;
  }
  .editions{
    padding-top: 35rem;
  }
  .goBack{
    display: block;
  }
  .subLinks{
    margin-top: -10rem;
  }
  .subLink{
    color: var(--color-black);
    font-size: 3rem;
  }
}
@media(max-width: 59em){
  .subLink{
    font-size: 3.2rem;
  }
  .italia{
    padding-top: 30rem;
  }
  .editions{
    padding-top: 36rem;
  }
}
@media (max-width: 48em){
  .mainContainer{
    padding-left: 13rem;
  }
  .italia{
    padding-top: 28rem;
  }
}
@media (max-width: 36em){
  .mainContainer{
    padding-left: 10rem;
  }
}
@media(max-width: 30em){
  .mainContainer{
    padding-left: 8rem;
  }
  .subLink{
    font-size: 2.8rem;
  }
  .goBack{
    transform: scale(0.6) rotateZ(-90deg);
  }
}
@media (max-width: 24em){
  .mainContainer{
    padding-left: 5rem;
  }
}
@media (max-width: 20em){
  .mainContainer{
    position: relative;
    top: -20px;
    padding-left: 3rem;
  }
  .goBack{
    transform: scale(0.7) rotateZ(-90deg);
    top: 93%;
    left: 20%;
  }
}
