.header {
  position: relative;
  padding: 6.4rem 6.4rem 2.4rem 6.4rem;
  width: 100vw;
  height: 13.5rem;
  align-items: center;
}
.nav {
  height: 48px;
  width: 100%;
}
.navLeft{
  flex: 2;
  align-items: center;
  gap: 4.8rem;
}
.logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 2.4rem; */
  transform: scale(1.2);
}
.menuBtn {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: var(--color-black);
  position: relative;
  transition: all 0.5s;
}
.menuBtnImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.menuBtn:hover{
  cursor: pointer;
  transform: rotateZ(30deg);
}
.menuBtn:hover .menuBtnImg{
  opacity: 0;
}
.editions {
  gap: 3.2rem;
  text-wrap: nowrap;
}
.editions div{
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.actions {
  flex:2;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  z-index: 12;
}
@media (max-width: 84em) {
  .header {
    gap: 4rem;
    padding: 4rem 5.6rem 2.4rem 5.6rem ;
  }
}

@media (max-width: 75em) {
  .header {
    gap: 3.2rem;
  }
  .menuBtnImg {
    transform: translate(-50%, -50%) scale(0.9);
  }
  .actions img {
    transform: scale(0.9);
  }
}
@media (max-width: 64em){
  .header{
    padding: 4.8rem 4rem 2.4rem;
    position: static;
  }
  .nav{
    display: grid !important;
    grid-template-columns: 15% 70% ;
    column-gap:3.2rem ;
  }
  .navLeft{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    margin-top: 2.4rem;
    transform: translateX(-8%);
  }
  .logo{
    justify-self: center ;
    transform: translateX(-20%) scale(1.2);
  }
  .actions{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    transform: translateX(-17%);
    gap: 1.2rem;
  }
  .menuBtn{
    display: none;
  }
}
@media (max-width: 48em){
  .actions{
    transform: translateX(0%);
  }
}
@media (max-width: 36em){

}
@media (max-width: 30em){
  .editions{
    gap: 2rem;
    width: 100%;
  }
  .editions div{
    font-size: 1.6rem;
  }
}
@media (max-width: 24em){
  .navLeft{
    grid-column-start: 1;
    transform: translateX(10%);
  }
}
