.container{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 105vh;
  height: 105svh;
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  overflow-y: hidden;
}
.mainNavList{
  max-width: 42vw;
  height: 100%;
  background-color: var(--color-theme);
  padding-top: 6.4rem;
}
.subNavList{
  max-width: 58vw;
  height: 100%;
  background-color: var(--color-white);
}
@media (max-width: 64em){
  .container{
    display: grid;
    grid-template-columns: 1fr;
    z-index: 10;
    height: 100%;
  }
  .mainNavList{
    max-width: 100%;
  }
  .subNavList{
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
  }
}