.menuBtn-mobile{
  display: none;
}
@media (max-width: 64em){
  .container{
    position: fixed;
    top: 80%;
    left: 5%;
    z-index: 6;
  }
  .menuBtn-mobile{
    display: block;
  }
  .menuBtn-mobile{
    width: 48px;
    height: 48px;
    background-color: var(--color-black);
    position: relative;
    display: flex;
    padding: 1.2rem;
    border-radius: 50%;
  }
  .menuBtn-mobile img{
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  .menuBtn-mobile:hover img{
    transform: rotateZ(30deg);
    opacity: 0;
  }
}
@media (max-width: 59em){
  .menuBtn-mobile{
    width: 40px;
    height: 40px;
  }
}