.menuBtn{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-black);
  position: relative;
  transition: all 0.5s;
  z-index: 12;
}
.menuBtn.desktop{
  display: block;
}
.menuBtn.mobile{
  display: none;
}
.menuBtnImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.menuBtn:hover{
  cursor: pointer;
}
.menuBtn.menuCls:hover{
  cursor: pointer;
  transform: rotateZ(90deg);
}
.menuBtn:hover .menuBtnImg.close{
  opacity: 1;
}
.fade-in{
  animation: fadeInOut 0.4s;
}
.fade-out{
  
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 64em){
  .container{
    position: fixed;
    top: 90%;
    left: 7%;
    z-index: 6;
  }
  .menuBtn.desktop{
    display: none;
  }
  .menuBtn.mobile{
    display: block;
  }
  .menuBtn{
    width: 48px;
    height: 48px;
    background-color: var(--color-black);
    position: relative;
    border-radius: 50%;
    transition: all 0.5s;
  }
  .menuBtn img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    transition: all 0.5s;
  }
  .menuBtn:hover{
    transform: rotateZ(30deg);
  }
  .menuBtn:hover img{
    opacity: 0;
  }
}
@media (max-width: 59em){
  .container{
    top: 90%;
  }
}
@media (max-width: 36em){
  .container{
    top: 91%;
  }
}
@media (max-width: 30em){
  .container{
    top: 91%;
  }
}