.navContainer{
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.navContainer div{
  text-wrap: nowrap;
  white-space: nowrap;
}
.links{
  font-size: 1.6rem;
  opacity: 0.5;
  transition: all 0.5s;
}
.links:hover{
  opacity: 1;
  cursor: pointer;
}
.active{
  opacity: 1;
}
.logout {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: 1px solid var(--color-black);
  border-radius: 100px;
}
.logout:hover{
  cursor: pointer;
}
@media (max-width: 48em){
  .navContainer{
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}
@media (max-width: 30em){
  .navContainer{
    /* gap: 0.8rem; */
    flex-wrap: nowrap;
    overflow: auto !important;
    flex-basis: auto;
    /* -ms-overflow-style: none; 
    scrollbar-width: none; */
    gap: 2rem;
    padding: 2rem 0rem;
    margin-bottom: 1rem;
  }
  /* .navContainer::-webkit-scrollbar{
    display: none;
  } */
  .links{
    font-size: 1.8rem;
  }

}
